@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: lavenderblush;
  color: brown;
  text-align: center;
  margin-top: 100px;
}


#buttons {
  display: d-flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  font-size: 2px;
}  

.container-fluid {
  background-color: lavender;
}

.navbar-lavender .navbar-brand {
  font-family: "arial", cursive !important;
  color: lightpink;
  font-weight: 900;
  font-size: 2em;
  background-color: lavender;
  padding-top: 0%;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

#cart-thumb img {
  height: 100px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
  font-size: 15px;
  display: flex;

  #add-button {
    margin: 0 auto;
    text-align: center;
  }

  #form-container {
    width: 40%;
    margin: auto;
    justify-content: center;
    color: black;

    #formModal {
      color: black;
    }
  }

  #cards {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 300px;
      margin: 5px;
      }

    }
    .header {
      display: flex;
    }
    .card-header {
      justify-content: center;
      background-color: lavender;
    }

  }
  #view {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
  }

  .google-auth {
    background-color: lightpink;
  }
